<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-9">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
  
  <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-8">
        <nav class="navbar navbar-expand-lg navbar-light ">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Blog</a>
                </li>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Services
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Plumber</a></li>
                    <li><a class="dropdown-item" href="#">Electricion</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </div>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div class="col-3">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link active  " aria-current="page" href="/user_login">Login</a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link" href="/signup">Signup</a>
          </li>
          
        </ul>
      </div>
    </div>
  </div>
  <div class="heading">
    
</head> -->
{% extends "main_layout.html" %}
{% block content %}


<body>
  <div class="carousel slide" data-bs-ride="carousel" id="carouselExampleIndicators">
		<div class="carousel-indicators">
			<button aria-label="Slide 1" class="active" data-bs-slide-to="0" data-bs-target="#carouselExampleIndicators" type="button"></button> <button aria-label="Slide 2" data-bs-slide-to="1" data-bs-target="#carouselExampleIndicators" type="button"></button> <button aria-label="Slide 3" data-bs-slide-to="2" data-bs-target="#carouselExampleIndicators" type="button"></button>
		</div>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img alt="..." class="d-block w-100" src="/static/image/2.png">
				<div class="carousel-caption">
					<h5>Plumbing</h5>
					<p>Meet out best Plumber.</p>
					<p><a class="btn btn-primary mt-3" href="#">Learn More</a></p>
				</div>
			</div>
			<div class="carousel-item">
				<img alt="..." class="d-block w-100" src="../static/image/3.png">
				<div class="carousel-caption">
					<h5>Electrician</h5>
					<p>Meet out best Electrician</p>
					<p><a class="btn btn-primary mt-3" href="#">Learn More</a></p>
				</div>
			</div>
			<div class="carousel-item">
				<img alt="..." class="d-block w-100" src="../static/image/4.png">
				<div class="carousel-caption">
					<h5>Painter</h5>
					<p>Meet out best Painter</p>
					<p><a class="btn btn-primary mt-3" href="#">Learn More</a></p>
				</div>
			</div>
		</div><button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleIndicators" type="button"><span aria-hidden="true" class="carousel-control-prev-icon"></span> <span class="visually-hidden">Previous</span></button> <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExampleIndicators" type="button"><span aria-hidden="true" class="carousel-control-next-icon"></span> <span class="visually-hidden">Next</span></button>
	</div><!-- about section starts -->
	<section class="about section-padding" id="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-12 col-12">
					<div class="about-img"><img alt="" class="img-fluid" src="/static/image/1.png"></div>
				</div>
				<div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
					<div class="about-text">
						<h2>We Provide the Best Quality<br>
						Services </h2>
						<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, labore reiciendis. Assumenda eos quod animi! Soluta nesciunt inventore dolores excepturi provident, culpa beatae tempora, explicabo corporis quibusdam corrupti. Autem, quaerat. Assumenda quo aliquam vel, nostrum explicabo ipsum dolor, ipsa perferendis porro doloribus obcaecati placeat natus iste odio est non earum?</p><a class="btn btn-warning" href="#">Learn More</a>
					</div>
				</div>
			</div>
		</div>
	</section><!-- about section Ends -->
	<!-- services section Starts -->
	<section class="services section-padding" id="services">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-header text-center pb-5">
						<h2>Our Services</h2>
						<p>Lorem ipsum dolor sit amet, consectetur<br>
						adipisicing elit. Non, quo.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-12 col-lg-4">
					<div class="card text-white text-center bg-dark pb-2">
						<div class="card-body">
							<i class="bi bi-laptop"></i>
							<h3 class="card-title">Best Quality</h3>
							<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eligendi modi temporibus alias iste. Accusantium?</p><button class="btn bg-warning text-dark">Read More</button>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-12 col-lg-4">
					<div class="card text-white text-center bg-dark pb-2">
						<div class="card-body">
							<i class="bi bi-journal"></i>
							<h3 class="card-title">Sustainability</h3>
							<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eligendi modi temporibus alias iste. Accusantium?</p><button class="btn bg-warning text-dark">Read More</button>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-12 col-lg-4">
					<div class="card text-white text-center bg-dark pb-2">
						<div class="card-body">
							<i class="bi bi-intersect"></i>
							<h3 class="card-title">Integrity</h3>
							<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eligendi modi temporibus alias iste. Accusantium?</p><button class="btn bg-warning text-dark">Read More</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- services section Ends -->
	<!-- portfolio strats -->
	<section class="portfolio section-padding" id="portfolio">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-header text-center pb-5">
						<h2>Our Projects</h2>
						<p>Lorem ipsum dolor sit amet, consectetur<br>
						adipisicing elit. Non, quo.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-12 col-lg-4">
					<div class="card text-light text-center bg-white pb-2">
						<div class="card-body text-dark">
							<div class="img-area mb-4"><img alt="" class="img-fluid" src="img/project-1.jpg"></div>
							<h3 class="card-title">Building Make</h3>
							<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eligendi modi temporibus alias iste. Accusantium?</p><button class="btn bg-warning text-dark">Learn More</button>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-12 col-lg-4">
					<div class="card text-light text-center bg-white pb-2">
						<div class="card-body text-dark">
							<div class="img-area mb-4"><img alt="" class="img-fluid" src="img/project-2.jpg"></div>
							<h3 class="card-title">Building Make</h3>
							<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eligendi modi temporibus alias iste. Accusantium?</p><button class="btn bg-warning text-dark">learn More</button>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-12 col-lg-4">
					<div class="card text-light text-center bg-white pb-2">
						<div class="card-body text-dark">
							<div class="img-area mb-4"><img alt="" class="img-fluid" src="img/project-3.jpg"></div>
							<h3 class="card-title">Building Make</h3>
							<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eligendi modi temporibus alias iste. Accusantium?</p><button class="btn bg-warning text-dark">Learn More</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- portfolio ends -->
	<!-- team starts -->
	<section class="team section-padding" id="team">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-header text-center pb-5">
						<h2>Our Team</h2>
						<p>Lorem ipsum dolor sit amet, consectetur<br>
						adipisicing elit. Non, quo.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-6 col-lg-3">
					<div class="card text-center">
						<div class="card-body">
							<img alt="" class="img-fluid rounded-circle" src="img/team-1.jpg">
							<h3 class="card-title py-2">Jack Wilson</h3>
							<p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi ipsam nostrum illo tempora esse quibusdam.</p>
							<p class="socials"><i class="bi bi-twitter text-dark mx-1"></i> <i class="bi bi-facebook text-dark mx-1"></i> <i class="bi bi-linkedin text-dark mx-1"></i> <i class="bi bi-instagram text-dark mx-1"></i></p>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<div class="card text-center">
						<div class="card-body">
							<img alt="" class="img-fluid rounded-circle" src="img/team-2.jpg">
							<h3 class="card-title py-2">Jack Wilson</h3>
							<p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi ipsam nostrum illo tempora esse quibusdam.</p>
							<p class="socials"><i class="bi bi-twitter text-dark mx-1"></i> <i class="bi bi-facebook text-dark mx-1"></i> <i class="bi bi-linkedin text-dark mx-1"></i> <i class="bi bi-instagram text-dark mx-1"></i></p>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<div class="card text-center">
						<div class="card-body">
							<img alt="" class="img-fluid rounded-circle" src="img/team-3.jpg">
							<h3 class="card-title py-2">Jack Wilson</h3>
							<p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi ipsam nostrum illo tempora esse quibusdam.</p>
							<p class="socials"><i class="bi bi-twitter text-dark mx-1"></i> <i class="bi bi-facebook text-dark mx-1"></i> <i class="bi bi-linkedin text-dark mx-1"></i> <i class="bi bi-instagram text-dark mx-1"></i></p>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<div class="card text-center">
						<div class="card-body">
							<img alt="" class="img-fluid rounded-circle" src="img/team-4.jpg">
							<h3 class="card-title py-2">Jack Wilson</h3>
							<p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi ipsam nostrum illo tempora esse quibusdam.</p>
							<p class="socials"><i class="bi bi-twitter text-dark mx-1"></i> <i class="bi bi-facebook text-dark mx-1"></i> <i class="bi bi-linkedin text-dark mx-1"></i> <i class="bi bi-instagram text-dark mx-1"></i></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- team ends -->
	<!-- Contact starts -->
	<section class="contact section-padding" id="contact">
		<div class="container mt-5 mb-5">
			<div class="row">
				<div class="col-md-12">
					<div class="section-header text-center pb-5">
						<h2>Contact Us</h2>
						<p>Lorem ipsum dolor sit amet, consectetur<br>
						adipisicing elit. Non, quo.</p>
					</div>
				</div>
			</div>
			<div class="row m-0">
				<div class="col-md-12 p-0 pt-4 pb-4">
					<!--for getting the form download the code from download button-->
				</div>
			</div>
		</div>
    <!-- <div class="containeri">
        <section class="servicess">
            <h2>Our Services</h2>
            <div class="service-item">
                <h3>Plumbing Repairs</h3>
                <p>We offer reliable plumbing repairs for leaks, clogs, and more.</p>
            </div>
            <section class="image-section">
              <h2>Our Work</h2>
              <div class="image-gallery">
                  <img src="../static/image/workers2.jpg" alt="Our worker ">
                  <img src="../static/image/plumber.jpg" alt="Plumbing Work 2">
                  <img src="../static/image/electri.jpg" alt="Plumbing Work 3">
              </div>
          </section>
  
            <div class="service-item">
                <h3>New Installations</h3>
                <p>Professional installation of new plumbing fixtures and systems.</p>
            </div>
            <div class="service-item">
                <h3>Home Renovations</h3>
                <p>Comprehensive renovation services for your home plumbing needs.</p>
            </div>
        </section>

       

        <form action="/signup" method="post" class="rq" >
          <h1>Contact Us</h1>
          <div class="row mt-5">
            
                    <div class="col ">
                        <label for="">First Name</label>
                        <input type="text" name="firstName" class="form-control" >
                    </div>
                    <div class="col">
                        <label for="">Last  Name</label>
                        <input type="text" name="lastName" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="">email</label>
                        <input type="email" name="email" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="">mobile</label>
                        <input type="text" name="mobile" class="form-control">
                    </div>
                </div>  
                <div class="row">
                    <div class="col">
                        <label for="">state</label>
                        <select class="form-select" onchange="print_city('city', this.selectedIndex);" id="sts" name="state"></select>
                    </div>
                </div> 
                <div class="row">
                    <div class="col">
                        <label for="">city</label>
                        <select id="city" name="city" class="form-select" id=""></select>
                    </div>
                </div> 
                <div class="row">
                    <div class="col">
                        <label for="">Password</label>
                        <input type="password" class="form-control" name="password"> 
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary mt-3" type="submit">SignUp Now</button>
                    </div>
                </div>        
    </div> -->
</body>
</html>
 

<!-- <body>
  <div class="header">
      <h1>"Your One-Stop Solution for Home Repairs 
        :plumbing ,Electrial and More!"
      </h1>
      <div class="buttons">
          <a href="tel:5027857620" class="phone">📞 0009094033</a>
          <a href="https://your-schedule-link.com" class="schedule">📅 Schedule Online</a>
      </div>
  </div>
  <div class="services">
      <div class="service">
          <img src="../static/image/plumber.jpg" alt="Plumbing">
          <p>Plumbing</p>
      </div>
     
      <div class="service">
          <img src="../static/image/electri.jpg" alt="Electrical">
          <p>Electrical</p>
      </div>
      <div class="service">
          <img src="../static/image/drain.jpg" alt="Drain Cleaning">
          <p>Drain Cleaning</p>
      </div>
  </div>
</body> -->
{% endblock %}
<!-- </html>
  </div>
  <script
  src="../static/bootstrap/js/bootstrap.min.js">
    
  </script>
</body>
</html> -->