{% extends "user_layout.html" %}

{% block content %}
     <style>
  body {
			font-family: Arial, sans-serif;
			background-color: #f5f5f5;
		}
		
		.login-container {
			width: 100%;
			max-width: 300px;
			padding: 20px;
			background-color: #fff;
			border: 1px solid #ddd;
			box-shadow: 0 0 10px rgba(0,0,0,0.1);
			margin: 40px auto;
			border-radius: 10px;
			box-sizing: border-box;
			padding: 20px 30px;
			background-image: linear-gradient(to bottom, #ff99cc, #ffffff);
			background-color: #766ef0;
			color: #333;
			box-shadow: 0 0 20px rgba(0,0,0,0.2);
		}
		
		.form-control {
			margin-bottom: 10px;
			padding: 10px;
			border: 1px solid #ccc;
			width: 100%;
			border-radius: 5px;
			box-sizing: border-box;
			color: #333;
			background-color: #f9f9f9;
			border: none;
			border-bottom: 2px solid #ff69b4;
		}
		
		.form-control:focus {
			border-color: #aaa;
			box-shadow: 0 0 10px rgba(0,0,0,0.1);
			background-color: #ffffff;
			border-bottom: 2px solid #ff69b4;
		}
		
		.login-button {
			background-color: #ff69b4;
			color: #fff;
			padding: 10px 20px;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			margin-top: 20px;
		}
		
		.login-button:hover {
			background-color: #ff3737;
		}
		div.mess{
			display: flex;
			align-items: center;
			justify-content: center;
			border-color: #aaa;
			box-shadow: 0 0 10px rgba(0,0,0,0.1);
			background-color: #ffffff;
			border-bottom: 2px solid #ff69b4;
		}
		.n{
		  display: flex;
		  justify-content: center;
		  align-items: center;
		}
	</style>

	
	
		
	<div class="login-container">
		
		
		<h2>Change password</h2>
		{% with messages = get_flashed_messages()%}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger mess" role="alert" >
            {{message}}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
		
		<form action="/user_password_change" method="post" >
			<input type="password" id="password"name="oldpassword" class="form-control" placeholder="oldpassword" required><br>
			<input type="password" id="password" name="newpassword" class="form-control" placeholder="newPassword" required><br>
			<input type="submit" value="confirm" class="login-button">
		</form>
	</div>
	
{% endblock %}